.wrapper {
    width: 500px;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #f1f1f1;
    font-size: 14px;
    background-color: #fff;


  }
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #fbfbfb;
  }
  

  #adding {
    background-color: #fff;
    border: 1px solid #f1f1f1;
    padding: 20px;
    margin-bottom: 10px;
  }
  
  


  
  .content, .author {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    padding: 5px;
    outline: none;
    font-size: 14px;
    resize: none;
    flex: 1;
  }
  

  
  .submit {
    padding: 5px 10px;
    width: 80px;
    border: none;
    border-radius: 3px;
    background-color: #00a3cf;
    color: #fff;
    outline: none;
    cursor: pointer;
    margin-left: 350px;
    margin-top: 25px
  }
  
 
  
  .commentlist {
    background-color: #fff;
    border: 1px solid #f1f1f1;
    padding: 20px;
  }
  
  .comment {
    display: flex;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 10px;
    padding-bottom: 10px;
    min-height: 50px;
  }
  
  .comment .comment-user {
    flex-shrink: 0;
  }
  
 
  
  .comment p {
    margin: 0;
    text-indent: 2em;
  }